# MetroMAE training
numpy>=1.24.0
torch>=2.1.0
setproctitle>=1.3.3
tensorboard>=2.0.0
tqdm>=4.65.0
rich>=13.7.0
matplotlib>=3.7.0
scipy>=1.10.0
pandas>=1.5.0

# TFB benchmark
darts==0.25.0
scikit_learn>=1.1.3
statsmodels>=0.14.0
ray>=2.6.3
dash>=2.9.3
dash-bootstrap-components>=1.5.0
reformer-pytorch==1.4.4
lightgbm>=4.1.0
